<aside class="md:w-1/6 h-screen p-4 bg-gray-800 text-white shadow sticky">
  <nav>
    <ul>
      <li class="py-2">
        <%- include("../ui/link", {href:"", text: "Lorem"}) %>
      </li>
      <li class="py-2">
        <%- include("../ui/link", {href:"", text: "Lorem"}) %>
      </li>
      <li class="py-2">
        <%- include("../ui/link", {href:"", text: "Lorem"}) %>
      </li>
    </ul>
  </nav>
</aside>
